@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Убираем стрелки вверх/вниз в INPUT NUMBER */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}


/* body with margin/padding, font family */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%
}


/* main function for UL */
ul {
    list-style-type: none;
    font-weight: 500;
    font-size: 90%;
    background-color: #F5F5F6;
    height: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;


}

/* Color for BANK */
li:first-child {
    color: black;
}

/* Color for other LI items */
ul li:not(:nth-child(1)):not(:nth-child(2)) {
    color: #959BA4
}

ul li {
    display: inline-block;
    /* font-size: 1rem; */

}

ul li:not(:nth-child(1)):hover {
    cursor: pointer;
}

/* function for LOG IN */
.backgrnd-wht {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    font-size: 250%;
    padding-left: 17%;
    padding-top: 2%;
}

.change {
    display: flex;
    gap: 50%;
    margin-left: 17%;
    color: #E5E5E5;
}

.currency-flex {
    display: flex;
    gap: 10.5%;

}

span {
    color: #E5E5E5;
    cursor: pointer;

}

.currency-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 15%;
    margin-left: 17%;
}

.divider {
    width: 1px;
    margin-top: -4%;
    margin-bottom: -4%;

    height: 4vh;
    background-color: #E5E5E5;
}

/* .currency {
    padding: -105px;
} */

.currency:hover {
    display: block;
    background-color: #833AE0;




}

span:hover {
    color: white;
}

.cost {
    margin-top: 3%;
    display: flex;
    gap: 33%;
    margin-left: 17%;

}

.cost>.have-how>p,
.cost>.get-how>p {
    padding-left: 5%;
    color: #E5E5E5;
    margin-top: 20%;
}

input {
    border: none;
    height: 7vh;
    font-size: 45px;
    width: 85%;
}

.have-how,
.get-how {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 19.5%;
}

.have-cost,
.get-cost {
    margin-top: 5%;
    margin-left: 5%;
}